/* --- Scrub System Defaults--- */
#m#m :where(button, select, input):hover,
#m#m :where(button, select, input):focus,
#m#m :where(button, select, input),
#m#m:hover,
#m#m:focus,
#m#m {
  box-shadow: none;
  background: none;
  border: none;
}

.actor.sheet.character section.window-content .crb-style aside .sidebar {
  height: 38.125rem !important;
}

.option-toggles.section-body.item-list{
  flex-flow: wrap !important;
}

.option-toggles.section-body.item-list li{
  width: unset !important;
  flex-grow: 1 !important;
}

/* --- actor sheet --- */
#m#m .adrenaline-svg {
  pointer-events: none;
}

#m#m .horizontal-line {
  top: -8px;
  position: absolute;
  border-radius: 0.25rem;
  background: black;
  margin: 23px auto 0;
  height: 1px;
}

#m#m .horizontal-dbl-line {
  height:32px;
  flex-grow: 1;
  margin-top:19px;
  border-top: 1px solid #baa991;
  border-bottom: 1px solid #baa991;
}

#m#m .knots {
  color: #9a8879;
}

#m#m.knots.container {
  margin: -0.3125rem 0 1.25rem;
  height: 2.125rem;
  display: flex;
}

#m#m .knots.display {
  border-image: url("../../../systems/pf2e/assets/sheet/frame-elegant.svg") 11 / 0.875rem repeat;
  padding: var(--space-8) 1rem;
  border-style: double;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  display: flex;
  height: 100%;
}

#m#m .knots.label {
  font: 0.7rem "Modesto Condensed";
  letter-spacing: .1rem;
  margin: 0;
}

#m#m .overlay {
  pointer-events: none;
  position: absolute;
  margin: 0.15625rem 0;
  height: 1rem;
  z-index: 2;
}

#m#m .overlay.adrenaline {
  background: center / contain no-repeat url("../assets/adrenaline-mask.svg");
  width: 76.5px;
}

#m#m .overlay.toxicity {
  background: center / contain no-repeat url("../assets/toxicity-mask.svg");
  width: 246.5px;
}

#m#m .toxicity-svg {
  z-index: 1;
  pointer-events: none;
}

#m#m .vertical-line {
  border-radius: 0.25rem;
  background: #baa991;
  margin: 23px 10px 0;
  height: 25px;
  width: 1px;
}

#m#m .vertical-line.marker {
  height: 12.5px;
}


/* --- canvas --- */
#adrenaline-icon:hover, #toxicity-icon:hover {
  box-shadow: none;
  border: none;
  transform: scale(1.1);
}

#adrenaline-icon {
  border: none;
  position: relative;
  background: center / contain no-repeat url("../assets/banners/adrenaline-gauge.svg");
  pointer-events: auto;
  margin-bottom: 10px;
  height: 40px;
}

#resource-icons {
  position: absolute;
  inset: auto 10px 5px auto;
  height: 90px;
  width: 40px;
}

#toxicity-icon {
  border: none;
  position: relative;
  background: center / contain no-repeat url("../assets/banners/toxicity-gauge.svg");
  pointer-events: auto;
  height: 40px;
}

.orient-value {
  color: white;
  left: 5.25px;
  top: -5.25px;
  position: absolute;
}


/* --- utility --- */
.hover-scale:hover {
  transform: scale(1.1);
}

.trait-format:not(#weight):not(#weight) {
  background-color: var(--color-bg-trait);
  border: 0.0625rem solid var(--color-border-trait);
  border-radius: 0.25rem;
  color: white !important;
  font: 500 0.625rem "Roboto";
  padding: 0.125rem 0.25rem;
  text-transform: uppercase;
  text-decoration: none; 
}

/* --- Grey Box --- */
.box-format:not(#weight):not(#weight) {
  background-color: #323232;
  border-radius: 0.25rem;
  color: white !important;
  font: 500 0.7rem "Roboto";
  padding: 0.125rem 0.25rem;
  text-transform: uppercase;
  text-decoration: none; 
}

/* --- chat --- */
.toxicity.damage.instance.color {
  color: #527a00;
}

.toxicity-banner:not(#weight):not(#weight) {
  background-color: #456600;
  border: 0.0625rem solid var(--color-border-trait);
  border-radius: 0.25rem;
  color: white !important;
  font: 500 0.63rem "Roboto";
  padding: 0.25rem 0.38rem;
  text-transform: uppercase;
  text-decoration: none; 
}

.toxicity-effect {
  border-image: url("../../../systems/pf2e/assets/sheet/frame-elegant.svg") 11 / 0.875rem repeat;
  border-style: double;
  border-radius: 2px;
  background: rgba(68, 55, 48, 0.1);
  color: var(--color-pf-alternate-darker);
  padding: 0.5rem 1rem;
  margin-top: 0.35rem;
}

/* --- journals --- */
.modesto-centered {
  text-align: center;
  font-family: Modesto Condensed
}

.text-banner {
  background-color: #800000; 
  border-radius: 5px; 
  border: none;
  padding: 0 10px;
  color:#fffff0; 
  font-family: Eczar;
}